
#quotes{
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
#arsub{
    box-shadow: 2px 2px 2px 1px grey; 
}
.sub{
    margin-top: 100px;
    box-shadow: 2px 2px 2px 1px darkorange; 
    padding: 10px;  
}
#display1{
    background-color:#9896f1 ;
}
.navbar{
    background-color: #d59bf6;
}
.navbar-brand{
font-weight: 900;
color:black;
}
.navbar li a {
    text-decoration: none;
    color: black;

}
.panel-text a {
    text-decoration: none;
}
.panel-heading a {
    text-decoration: none;
}

input[type=submit]{
 float: center;
}
#comments1{
    box-shadow: 2px 2px 2px 1px grey;
}
.panel-text a{
    text-decoration: none;
}
   
#blogt2{
    margin-top: 10px;
    box-shadow: 2px 2px 2px 1px grey; 

}
button[type=submit]{
    margin-left: 40%;
}

.btn-default,
.btn-default:hover {
  background-color: #000000;
  border-color: #000000;
  color: white;
  margin-top: 10px;
}
#form{
    border-radius: 10px;
    background-color:#9896f1 ;
    margin-bottom: 10px;
}
#footer{
    margin-top: 10px;
    background-color:#d59bf6; ;
}