.quotes{
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar{
    background-color: darkmagenta;
}
.navbar li a {
    text-decoration: none;
}