.quotes{
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar{
    background-color: #d59bf6;
}
.navbar-brand{
font-weight: 900;
color: #8ef6e4;
}
.navbar li a {
    text-decoration: none;
    color: #8ef6e4;

}
#footer{
    background-color:#d59bf6; ;
}