{% extends 'base.html'%}
{% block content %}
<div class="container" id ="blogt">


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 ">
      <div class="panel panel-default text-center " id="blogt2">
        <div class="panel-heading">
          
          <h4 span style="font-weight: 900;"> <a href="{{url_for('main.blog',blog_id = blog.id)}}" ></a>{{ blog.title}}</h4>
        </div>
        <div class="panel-body" >
          <p>{{ blog.content }}</p>
          <p class="panel-text"><strong>Created on: <span class="badge rounded-pill bg-warning text-dark">{{
                      blog.date_created.strftime("%m/%d/%Y")}}</span></strong> <br>
                      <a href="{{ url_for('main.comments', blog_id = blog.id)}}"><i class="fa fa-comments"
                        aria-hidden="true"></i>comment</a>
                        <a href="{{ url_for('main.update_blog', blog_id = blog.id)}}"><i class="fas fa-edit"></i></i>Edit</a>
                          <a href="{{ url_for('main.delete_blog', blog_id = blog.id)}}"><i class="far fa-trash-alt"></i>Delete Blog</a>

          </p>

        </div>
      </div>
    </div>
    <div class="col-md-3"></div>

  </div>
</div>

  <div class="container " id="footer">
    <div class="row">
      <div class="col-md-12">
        <div class="container text-center" id="socials">
          <p><b>rhonajoy8@gmail.com</b></p>
          <p><b>&copy; 2021</b></p>
          <p><b>Made with<span class="fa fa-heart" style="color: red;" aria-hidden="true"></span></b></p>
        </div>
      </div>
    
  </div>
  </div>
  {% endblock %}