{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block head %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">       
{% endblock%}
{% endblock%}

{% block content %}
 <body>
  <div class="jumbotron  bg-warning mt-3">
    <div class="container">
    <h1 class="display-4">Comments Form</h1>
   
    </div>
</div>
  
  <div  class="container">
    <div class="row">
      <div class="col-md-4" id ="comments1">
        {{wtf.quick_form(form)}}
      </div>
  
      {% for comment in comment %}
      <div class="col-md-4">
        
          <div class="card w-20 m-1 p-2"  id ="comments1"> 
          
           
              <p>Comment:<strong>{{ comment.content }}</strong></p>
              <p>Date Posted :<strong>{{ comment.date_created.strftime("%m/%d/%Y")}}</strong></p>
              <a href="{{ url_for('main.delete_comment', comment_id = comment.id)}}"><i class="far fa-trash-alt"></i>Delete Comment</a>
            </div>
          </div>
          {% endfor %}
      
    </div>
</div>
  <div class="container  mt-3" id ="footer">
  <div class="container text-center" id="socials">
      <p><b>rhonajoy8@gmail.com</b></p>
      <p><b>&copy; 2021</b></p>
      <p><b>Made with<span class="fa fa-heart" style="color: red;" aria-hidden="true"></span></b></p>
    </div>

</div>
{%endblock%}