{% extends 'base.html'%}



{% block content %}
<section class="quotes">
  <h3 id="head"> Top Sources</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        {{ quote.quote}}
        {{ quote.author}}
        </h4>
      </div>
      <div class="col-md-2"></div>

      
      </div>
      </div>
</section>

  
  <div class="row">
    {% for blog in blogs %}
    <div class="col-md-4 ">
      <div class="panel panel-default text-center ">
        <div class="panel-heading">
          <h4 span style="font-weight: 900;">{{ blog.title}}</h4>
        </div>
        <div class="panel-body">
          <p>{{ blog.content }}</p>
          <p class="panel-text"><strong>Created on: <span class="badge rounded-pill bg-warning text-dark">
            {{blog.date_created.strftime("%m/%d/%Y)  }}</span></strong> <br>
            <a href=" {{ url_for('main.comments', blog_id = blog.id)}}"><i class="fa fa-comments"
              aria-hidden="true"></i>comment</a>
          </p>
         
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  
  <div class="container bg-warning mt-5" id="footer">
    <div class="container text-center" id="socials">
      <p><b>rhonajoy8@gmail.com</b></p>
      <p><b>&copy; 2021</b></p>
      <p><b>Made with<span class="fa fa-heart" style="color: red;" aria-hidden="true"></span></b></p>
    </div>

  </div>

  {% endblock %}